<button class="menu-btn" data-js="hamburger" aria-label="Open menu">
  <i class="hamburger" aria-hidden="true">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </i>
</button>
<nav class="menu">
  <ul class="menu-links">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main.ByWeight }}
      <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
    {{ end }}
    <li class="search">
      <a href="/blog/search" aria-label="Search">
        <svg aria-hidden="true" height="18" viewBox="0 0 48 48" width="18" xmlns="http://www.w3.org/2000/svg">
          <path fill="white" d="M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z"/>
          <path d="M0 0h48v48H0z" fill="none"/>
        </svg>
        <span>Search</span>
      </a>
    </li>
  </ul>
</nav>
{{ $menuController := resources.Get "js/menu.js" | js.Build (dict "minify" true "target" "es5") }}
<script>
  {{ $menuController.Content | safeJS }}
</script>