<div class="social-links">
  <a href="https://twitter.com/brunoscopelliti" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
    {{- partial "svg/twitter" (dict "color" .iconColor "size" .iconSize) -}}
  </a>
  <a href="https://github.com/brunoscopelliti" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
    {{- partial "svg/github" (dict "color" .iconColor "size" .iconSize) -}}
  </a>
  <a href="/blog/index.xml" aria-label="RSS">
    {{- partial "svg/rss" (dict "color" .iconColor "size" .iconSize) -}}
  </a>
</div>