.site-footer {
  @include text-minimum($weightLight);

  background: $footerBgColor;
  color: $footerColor;

  margin: 0;
  margin-top: 96px;
  padding: 16px 0;

  a {
    color: $footerColor;
    text-decoration: underline;
  }
}

@media (min-width: $tabletPortraitWidth) {
  .site-footer {
    padding: 48px 0 16px;
  }
}

.site-footer .colophon {
  margin: 0;
}