.site-footer {
  @include text-minimum($weightLight);

  background: $footerBgColor;
  color: $footerColor;

  margin: 0;
  margin-top: 128px;
  padding: 16px 0;

  a {
    color: $footerColor;
    text-decoration: underline;
  }
}

@media (min-width: $tabletPortraitWidth) {
  .site-footer {
    padding: 48px 0 16px;
  }
}

.site-footer .colophon {
  margin: 32px 0 0;
}

.site-footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: ($iphonePortraitWidth * 1.25)) {
  .site-footer .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@import "partials/components/contact-form";
@import "partials/components/socials";
