.site-header {
  background: $headerBackground;
  background-position: center right, center left;
  background-repeat: no-repeat;

  color: $headerColor;

  min-height: 72px;
  padding: 36px 0 12px;
}

.site-header a {
  color: $headerColor;
}

.site-header .site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@import "partials/components/home-link";

.site-header .menu-btn {
  appearance: none;
  border: 0;
  background: none;
  cursor: pointer;
  outline-color: $outlineColor;

  position: relative;
  z-index: $zIndexCloseMenu;
}

@import "partials/components/hamburger";

@media (min-width: $tabletPortraitWidth) {
  .site-header .menu-btn {
    display: none;
  }
}

.site-header .menu {
  display: none;
}

@media (max-width: $tabletPortraitWidth) {
  .menu-open {
    overflow: hidden;
  }

  .menu-open .site-header .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: $headerBackground;

    @include fullscreen;
    z-index: $zIndexMenu;
  }
}

@media (min-width: $tabletPortraitWidth) {
  .site-header .menu {
    display: block;
  }
}

.site-header .menu-links {
  height: 60vh;
  list-style: none;
  overflow: auto;
  margin: 0;
  padding: 12px 0;
  text-align: center;
}

.site-header .menu-links li {
  margin: 0;
  margin-bottom: 18px;
}

.site-header .menu-links li.search svg {
  display: none;
}

@media (max-width: $tabletPortraitWidth) {
  .site-header .menu-links li.active a {
    background: #0003;
    border-radius: 4px;
    padding: 5px 12px;
  }
}

@media (min-width: $tabletPortraitWidth) {
  .site-header .menu-links {
    display: flex;
    align-items: baseline;

    height: auto;
    overflow: visible;
    padding: 0;
  }

  .site-header .menu-links li {
    margin: 0;
    margin-left: 6px;

    &:first-child {
      display: none;
    }
  }

  .site-header .menu-links li.search {
    margin: 0;

    span {
      display: none;
    }

    svg {
      display: inline;
    }
  }

  .site-header .menu-links li a {
    font-weight: $weightLight;
    padding: 6px 8px;
    transition: .25s ease-out;
  }
  
  .site-header .menu-links li:not(.search) a:hover:not(:focus) {
    background: #0003;
    border-radius: 4px;
  }
}

.site-header .page-highlights {
  padding: 24px 0;
}

@import "partials/components/intro";
