.page-highlights .intro {
  @include site-width($tabletPortraitWidth * .8);
}

.page-highlights .intro.home-intro {
  padding: 24px 0 36px;
  text-align: center;
}

.page-highlights .avatar {
  @include circle(128px);
  margin: 0 auto;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.page-highlights .intro .message {
  margin: 0;
  margin-top: 32px;
}

@media (min-width: $tabletPortraitWidth) {
  .page-highlights .intro .message {
    @include text-large;
  }
}