article.page  h1.page-title,
article.post  h1.post-title {
  margin: 0;
  margin-bottom: 24px;
}

article.page .page-content-body,
article.post .post-body {
  font-size: 18px;
  line-height: 32px;

  h2 {
    margin: 48px auto 12px;
  }

  p {
    margin: 0;
  }

  p code {
    background: #efecfc;
    border-radius: 4px;
    color: darken($specialTextColor, 5%);
    font-size: 17px;
    margin: 0;
    margin-right: 2px;
    padding: 3px 7px;
  }

  .highlight {
    font-size: 16px;
    line-height: 24px;
    margin: 16px (-$sidePaddingPageContentMobile);
  }

  .highlight pre {
    overflow: auto;
    padding: 16px 8px;
  }

  iframe {
    margin: 24px 0;
  }
}

@media (min-width: $widthTabletPortrait) {
  article.post .post-body .highlight {
    margin-left: -$sidePaddingPageContentTabletPortrait;
    margin-right: -$sidePaddingPageContentTabletPortrait;
  }

  article.post .post-body .highlight pre {
    padding: 16px 24px;
  }
}

article.post .post-footer {
  margin: 96px auto 24px;
}

article.post .post-date {
  color: $specialTextColor;
  margin: 0;
  margin-bottom: 12px;
}

article.post .post-date,
article.post .post-links {
  text-align: right;
}

article.post .post-links {
  font-size: 20px;
}
article.post .post-links-spacer {
  font-weight: $weightBold;
  margin: 0 6px;
}

article.post .post-share {
  display: flex;
  align-items: center;
  margin: 16px auto;
}
article.post .post-share-line {
  border-top: 1px solid #999;
  flex-grow: 1;
  margin: 0;
  margin-top: 4px;
}
article.post .post-share-text {
  color: #666;
  font-size: 18px;
  font-variant: all-small-caps;
  padding: 8px;
}
article.post .post-share-link {
  font-size: 20px;
  margin: 0 6px;
}
article.post .post-share-link:last-child {
  margin-right: 0;
}

article.post .post-author {
  display: flex;
  margin: 0;
  margin-top: 36px;
  padding: 0 4px;
}

@media (min-width: $widthTabletPortrait) {
  article.post .post-author {
    margin-top: 64px;
  }
}

article.post .avatar-frame {
  height: 96px;
  width: 96px;
  min-width: 96px;
}

@media (min-width: $widthTabletPortrait) {
  article.post .avatar-frame {
    height: 128px;
    width: 128px;
    min-width: 128px;
  }
}

article.post .post-author-bio {
  margin: 0;
  margin-left: 16px;
  padding: 0;
}

@media (min-width: $widthTabletPortrait) {
  article.post .post-author-bio {
    font-size: 18px;
    line-height: 26px;
    margin-left: 36px;
    padding-top: 4px;
  }
}