article.single h1,
article.post h1 {
  margin-bottom: .5em;
}

article.single .single-body,
article.post .post-body {
  h2 {
    margin: 48px auto 6px;
  }

  h3 {
    margin: 24px auto 0;
  }

  p {
    line-height: 30px;
    margin: 0;
  }

  li code,
  p code, {
    @include tag();

    margin: 0 1px;
  }

  .post-figure {
    margin: 0;
    margin-bottom: 24px;

    img.post-img {
      margin: 0;
      width: 100%;

      &.post-img-zoomable {
        cursor: zoom-in;
        transition: .5s ease-in-out;
      }

      &.post-img-zoomable.is-zoomed {
        cursor: zoom-out;
        margin-left: -10%;
        width: 120%;
      }
    }

    figcaption {
      @include text-small($weightLight);
    }
  }
}

article.post .post-body {
  h2, h3 {
    position: relative;

    a {
      color: #000;
    }
  }

  img.anchor {
    display: none;
  }

  .highlight {
    margin: 16px (-$pageSidePadding);
  }

  .highlight pre {
    overflow: auto;
    padding: 16px 8px;
  }

  blockquote {
    font-style: italic;

    border-left: 4px solid $blockquoteBorderColor;

    margin: 24px 8px;
    margin-right: 0;

    padding: 9px 12px;
    padding-right: 0;
  }

  iframe {
    margin: 24px 0;
  }

  .footnote {
    @include text-note;
    border-top: 1px solid $footnoteBorderColor;
    margin: 48px 0 0;
    padding-top: 24px;
  }
}

@media (min-width: $tabletPortraitWidth) {
  article.post .post-body {
    :focus img.anchor,
    :hover img.anchor {
      display: inline-block;
      position: absolute;
      left: -28px;
      top: 5px;
    }

    .highlight {
      margin-left: -$pageSidePadding_tabletPortrait;
      margin-right: -$pageSidePadding_tabletPortrait;
    }
  
    .highlight pre {
      @include text-small;
      line-height: 1.3rem;
      padding: 16px 24px;
    }
  
    blockquote {
      margin: 24px 18px;
      margin-right: 0;
    }
  }
}

article.post .post-footer {
  margin: 96px auto 24px;
}

article.post .post-date {
  @include text-small;
  color: $textHighlightColor;
  margin: 0;
  margin-bottom: 6px;
}

article.post .post-date,
article.post .post-links {
  text-align: right;
}

article.post .post-links-spacer {
  color: #555;
  font-weight: $weightBold;
  margin: 0 6px;
}

article.post .post-share {
  display: flex;
  align-items: center;
  margin: 4px auto;
}
article.post .post-share-line {
  border-top: 1px solid #999;
  flex-grow: 1;
  margin: 0;
  margin-top: 4px;
}
article.post .post-share-text {
  color: #555;
  font-variant: all-small-caps;
  padding: 8px;
}
article.post .post-share-link {
  margin: 0 6px;
}
article.post .post-share-link:last-child {
  margin-right: 0;
}

article.post .post-author {
  display: flex;
  margin: 0;
  margin-top: 36px;
  padding: 0 4px;
}

@media (min-width: $tabletPortraitWidth) {
  article.post .post-author {
    margin-top: 64px;
  }
}

article.post .avatar-frame {
  @include square(96px);

  flex-shrink: 0;
}

@media (min-width: $tabletPortraitWidth) {
  article.post .avatar-frame {
    @include square(128px);
  }
}

article.post .post-author-bio {
  margin: 0;
  margin-left: 16px;
  padding: 0;
}

@media (min-width: $tabletPortraitWidth) {
  article.post .post-author-bio {
    margin-left: 36px;
    padding-top: 4px;
  }
}