.post-list {
  margin: 0;
  margin-top: 12px;
}

@media (min-width: $tabletPortraitWidth) {
  .post-list {
    margin-top: 24px;
  }
}

.post-list .post-entry {
  margin: 36px 0 48px;

  &:first-of-type {
    margin-top: 0;
  }
}

.post-list .post-entry h2 {
  margin-bottom: 8px;
}

.post-list .post-entry h2 a {
  color: $titleLinkColor;

  &:hover,
  &:focus {
    color: $titleLinkColorOnFocus;
  }
}

.post-list .post-entry .post-preview,
.post-list .post-entry .post-link,
.blog-link {
  font-weight: $weightLight;
}

.post-list .post-entry .post-link,
.blog-link {
  margin: 0;
  margin-top: 8px;
}

.blog-link {
  text-align: right;
}

.pagination {
  @include text-small;

  display: flex;
  justify-content: center;
  align-content: center;

  list-style: none;
  margin: 0;
  padding: 0;

  .page-link {
    padding: 6px 12px;
    transition: .25s ease-in-out;
  }

  .active .page-link {
    color: $paginationCurrentPageColor;
  }
}

@media (min-width: $tabletPortraitWidth) {
  .pagination .page-link {
    padding: 2px 6px;
  }
}