.post-entry {
  margin: 36px 0 48px;
}

.post-entry h2.post-title {
  margin-bottom: 12px;
}

.post-entry .post-title a {
  color: #222;

  &:hover,
  &:focus {
    color: $colorLinkFocus;
  }
}

.post-entry .post-preview,
.post-entry .post-link,
.blog-link {
  font-size: 18px;
  font-weight: $weightLight;
}

.post-entry .post-link,
.blog-link {
  margin: 0;
  margin-top: 8px;
}

.blog-link {
  text-align: right;
}

.pagination {
  display: flex;
  justify-content: center;
  align-content: center;

  list-style: none;
  margin: 0;
  padding: 0;

  .page-link {
    color: $colorLink;
    padding: 2px 4px;
    transition: .25s ease-in-out;
  }

  .active .page-link {
    color: #777;
  }
}