#skip-nav {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
  border: 0;
  outline: none;

  &:focus,
  &:active {
    color: #fff;
    background-color: #000;
    left: 50%;
    top: auto;
    width: 160px;
    height: auto;
    overflow: auto;
    margin: 38px 0 0 -68px;
    padding: 6px 16px;
    border-radius: 6px;
    text-align: center;
    z-index: $zSkipNavigation;
  }
}

@media (min-width: $tabletPortraitWidth) {
  #skip-nav:focus,
  #skip-nav:active {
    left: auto;
    width: auto;
    margin: 10px 0 0 10px;
  }
}