.site-footer .social-links {
  margin: 0;
  margin-top: 24px;
}

.site-footer .social-links a {
  padding: 4px 6px;
}

@media (min-width: ($iphonePortraitWidth * 1.25)) {
  .site-footer .social-links {
    margin: 0;
  }
}