body {
  @include holy-grail;

  background-color: $pageBgColor;
  color: $pageColor;
}

* {
  box-sizing: border-box;
}

.page-main-content {
  @include site-width;
  @include holy-grail-child;

  background: $pageContentBgColor;

  margin-top: -32px;
  padding: 36px $pageSidePadding 48px;
}

@media (min-width: $tabletPortraitWidth) {
  .page-main-content {
    padding: $pageSidePadding_tabletPortrait;
  }
}

@media (min-width: $pageContentMaxWidth) {
  .page-main-content {
    border-radius: 8px;
  }
}

.site-width-wrapper {
  @include site-width;

  padding: 0 12px;
}

@media (min-width: $tabletPortraitWidth) {
  .site-width-wrapper {
    padding: 0 24px;
  }
}
