$gradientStart: #544a7d;
$gradientEnd: #ffd452;

$colorLink: #6600ff;
$colorLinkFocus: darken($colorLink, 15%);

$outlineColor: #0066cc;

$maxWidthContent: 800px;

$zIndexMenu: 999;
$zIndexCloseMenu: 1000;
$zSkipNavigation: 99999;

$widthTabletPortrait: 768px;

$weightLight: 300;
$weightNormal: 400;
$weightMedium: 600;
$weightBold: 700;