// Chrome default outline color.
$outlineColor: #06c;

/**
 * breakpoints
 */
$iphonePortraitWidth: 375px;
$tabletPortraitWidth: 768px;

/**
 * font-weight
 */
$weightLight: 300;
$weightNormal: 400;
$weightMedium: 600;
$weightBold: 700;

/**
 * z-index
 */
$zIndexMenu: 999;
$zIndexCloseMenu: 1000;
$zSkipNavigation: 99999;

/**
 * links
 */
$linkColor: #751aff;
$linkColorOnFocus:  #4700b3;

/**
 * inputs
 */
$inputBorderColor: #ddd;

/**
 * page wide, and general layout settings
 */
$pageBgColor: #fafafa;
$pageContentBgColor: #fff;
$pageColor: #000;

$pageContentMaxWidth: 800px;

$pageSidePadding: 16px;
$pageSidePadding_tabletPortrait: 64px;

$headerBgColor: #192039;
$headerColor: #fff;

$footerBgColor: #192039;
$footerColor: #fff;

$contactFormBgColor: #4d3fdb;

$tagBgColor: #efecfc;
$tagColor: #4700b3;
$tagSelectedBgColor: #4700b3;
$tagSelectedColor: #fff;

$textHighlightColor: #4700b3;

/**
 * post lists
 */

$titleLinkColor: #000;
$titleLinkColorOnFocus: #4700b3;

$paginationCurrentPageColor: #555;

/**
 * taxonomies
 */

$dateColor: #555;

/**
 * post
 */

$blockquoteBorderColor: #4700b3;

$footnoteBorderColor: #999;
