<p data-height="{{ with .Get "height" | default 280 }}{{.}}{{ end }}" data-theme-id="dark" data-slug-hash="{{ with .Get "hash" }}{{.}}{{ end }}" data-preview="true" data-default-tab="result" data-user="brunoscopelliti" class="codepen">
  See the <a href="http://codepen.io/brunoscopelliti/pen/{{ with .Get "hash" }}{{.}}{{ end }}/">demo</a> by Bruno Scopelliti (<a href="http://codepen.io/brunoscopelliti">@brunoscopelliti</a>) on <a href="http://codepen.io">CodePen</a>.
</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
