{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "body-class" }}home{{ end }}

{{ define "home-link" }}
<div class="home-link-wrapper">
  <a class="home-link" href="/">
    <span>BS</span>
  </a>
</div>
{{ end }}

{{ define "page-highlights" }}
<div class="intro home-intro">
  <div class="avatar">
    {{- partial "avatar.html" . -}}
  </div>
  <div class="message">
    Hi, I am Bruno Scopelliti.
    <br/>I am an independent Software Engineer.
  </div>
</div>
{{ end }}

{{ define "main-content" }}
<h1>Blog</h1>
<div class="post-list">
  {{ $sectionName := .Site.Params.mainSectionName | default (slice "blog") }}
  {{ $section := where .Site.RegularPages "Section" "in" $sectionName }}
  {{ $postsCount := $.Param "recent_posts_number" | default 3 }}
  {{ range (first $postsCount $section) }}
    {{- partial "post-list-entry.html" . -}}
  {{ end }}
</div>
<div class="blog-link">
  <a href="/blog" aria-label="Visit blog page">View all articles</a>
</div>
{{ end }}
